In [1]:
from matplotlib import font_manager, rc
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

font_name = font_manager.FontProperties(fname='c:/windows/fonts/malgun.ttf').get_name()
rc('font', family=font_name)

In [2]:
df = pd.read_excel('data/accident_시간별.xls')
df

,기준년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,...,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12
0,기준년도,합계,0시~2시,2시~4시,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,...,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,16시~18시,18시~20시,20시~22시,22시~24시
1,사고건수,117,6,8,1,7,20,10,6,10,...,28,52,135,122,142,185,250,247,204,232
2,사망자수,4,1,1,0,0,0,0,0,1,...,2,1,2,1,0,3,0,0,5,3
3,부상자수,124,5,7,1,7,20,11,6,9,...,30,57,141,136,160,195,275,279,217,260
4,주) 부상자수는 중상자수，경상자수，부상신고자수의 합계.&#10;,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.drop(df.index[4])
df

,기준년도,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8,...,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11,2021.12
0,기준년도,합계,0시~2시,2시~4시,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,...,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,16시~18시,18시~20시,20시~22시,22시~24시
1,사고건수,117,6,8,1,7,20,10,6,10,...,28,52,135,122,142,185,250,247,204,232
2,사망자수,4,1,1,0,0,0,0,0,1,...,2,1,2,1,0,3,0,0,5,3
3,부상자수,124,5,7,1,7,20,11,6,9,...,30,57,141,136,160,195,275,279,217,260

In [4]:
df = df.rename(columns=df.iloc[0])
df

,기준년도,합계,0시~2시,2시~4시,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,...,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,16시~18시,18시~20시,20시~22시,22시~24시
0,기준년도,합계,0시~2시,2시~4시,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,...,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,16시~18시,18시~20시,20시~22시,22시~24시
1,사고건수,117,6,8,1,7,20,10,6,10,...,28,52,135,122,142,185,250,247,204,232
2,사망자수,4,1,1,0,0,0,0,0,1,...,2,1,2,1,0,3,0,0,5,3
3,부상자수,124,5,7,1,7,20,11,6,9,...,30,57,141,136,160,195,275,279,217,260

In [5]:
df = df.drop(df.index[0])
df

,기준년도,합계,0시~2시,2시~4시,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,...,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,16시~18시,18시~20시,20시~22시,22시~24시
1,사고건수,117,6,8,1,7,20,10,6,10,...,28,52,135,122,142,185,250,247,204,232
2,사망자수,4,1,1,0,0,0,0,0,1,...,2,1,2,1,0,3,0,0,5,3
3,부상자수,124,5,7,1,7,20,11,6,9,...,30,57,141,136,160,195,275,279,217,260

In [6]:
df = df.set_index(['기준년도'])
df

,합계,0시~2시,2시~4시,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,16시~18시,...,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,16시~18시,18시~20시,20시~22시,22시~24시
기준년도,,,,,,,,,,,,,,,,,,,,,
사고건수,117,6,8,1,7,20,10,6,10,8,...,28,52,135,122,142,185,250,247,204,232
사망자수,4,1,1,0,0,0,0,0,1,0,...,2,1,2,1,0,3,0,0,5,3
부상자수,124,5,7,1,7,20,11,6,9,11,...,30,57,141,136,160,195,275,279,217,260

In [7]:
df.drop(['합계'], axis=1, inplace=True)
df

,0시~2시,2시~4시,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,16시~18시,18시~20시,...,4시~6시,6시~8시,8시~10시,10시~12시,12시~14시,14시~16시,16시~18시,18시~20시,20시~22시,22시~24시
기준년도,,,,,,,,,,,,,,,,,,,,,
사고건수,6,8,1,7,20,10,6,10,8,15,...,28,52,135,122,142,185,250,247,204,232
사망자수,1,1,0,0,0,0,0,1,0,0,...,2,1,2,1,0,3,0,0,5,3
부상자수,5,7,1,7,20,11,6,9,11,18,...,30,57,141,136,160,195,275,279,217,260

In [8]:
dft = df.transpose()
dft

기준년도    사고건수 사망자수 부상자수
0시~2시      6    1    5
2시~4시      8    1    7
4시~6시      1    0    1
6시~8시      7    0    7
8시~10시    20    0   20
10시~12시   10    0   11
12시~14시    6    0    6
14시~16시   10    1    9
16시~18시    8    0   11
18시~20시   15    0   18
20시~22시   13    1   15
22시~24시   13    0   14
0시~2시     15    0   17
2시~4시      4    0    4
4시~6시      8    0    8
6시~8시     13    0   13
8시~10시    35    1   34
10시~12시   12    0   14
12시~14시   14    0   15
14시~16시   21    1   23
16시~18시   23    0   25
18시~20시   27    1   27
20시~22시   29    0   33
22시~24시   24    1   25
0시~2시     23    0   24
2시~4시     14    0   14
4시~6시     12    0   14
6시~8시     29    2   27
8시~10시    56    1   59
10시~12시   40    0   41
12시~14시   31    0   32
14시~16시   44    1   44
16시~18시   53    0   61
18시~20시   59    1   63
20시~22시   47    1   48
22시~24시   39    2   46
0시~2시     72    0   83
2시~4시     36    0   39
4시~6시     18    0   20
6시~8시     41    1   44
8시~10시    81    0   92
10시~12시   48    1   51
12시~14시   72    1   75
14시~16시   77    3   80
16시~18시  124    1  145
18시~20시  121    0  134
20시~22시  114    3  120
22시~24시   93    0  102
0시~2시     91    2  104
2시~4시     47    0   47
4시~6시     28    2   30
6시~8시     52    1   57
8시~10시   135    2  141
10시~12시  122    1  136
12시~14시  142    0  160
14시~16시  185    3  195
16시~18시  250    0  275
18시~20시  247    0  279
20시~22시  204    5  217
22시~24시  232    3  260

In [9]:
df_2017 = dft[0:12]
df_2017

기준년도    사고건수 사망자수 부상자수
0시~2시      6    1    5
2시~4시      8    1    7
4시~6시      1    0    1
6시~8시      7    0    7
8시~10시    20    0   20
10시~12시   10    0   11
12시~14시    6    0    6
14시~16시   10    1    9
16시~18시    8    0   11
18시~20시   15    0   18
20시~22시   13    1   15
22시~24시   13    0   14

In [10]:
df_2018 = dft[12:24]
df_2018

기준년도    사고건수 사망자수 부상자수
0시~2시     15    0   17
2시~4시      4    0    4
4시~6시      8    0    8
6시~8시     13    0   13
8시~10시    35    1   34
10시~12시   12    0   14
12시~14시   14    0   15
14시~16시   21    1   23
16시~18시   23    0   25
18시~20시   27    1   27
20시~22시   29    0   33
22시~24시   24    1   25

In [11]:
df_2017 = dft[24:36]
df_2017

기준년도    사고건수 사망자수 부상자수
0시~2시     23    0   24
2시~4시     14    0   14
4시~6시     12    0   14
6시~8시     29    2   27
8시~10시    56    1   59
10시~12시   40    0   41
12시~14시   31    0   32
14시~16시   44    1   44
16시~18시   53    0   61
18시~20시   59    1   63
20시~22시   47    1   48
22시~24시   39    2   46

In [12]:
df_2017 = dft[36:48]
df_2017

기준년도    사고건수 사망자수 부상자수
0시~2시     72    0   83
2시~4시     36    0   39
4시~6시     18    0   20
6시~8시     41    1   44
8시~10시    81    0   92
10시~12시   48    1   51
12시~14시   72    1   75
14시~16시   77    3   80
16시~18시  124    1  145
18시~20시  121    0  134
20시~22시  114    3  120
22시~24시   93    0  102

In [13]:
df_2017 = dft[48:60]
df_2017

기준년도    사고건수 사망자수 부상자수
0시~2시     91    2  104
2시~4시     47    0   47
4시~6시     28    2   30
6시~8시     52    1   57
8시~10시   135    2  141
10시~12시  122    1  136
12시~14시  142    0  160
14시~16시  185    3  195
16시~18시  250    0  275
18시~20시  247    0  279
20시~22시  204    5  217
22시~24시  232    3  260